@import "../../../styles/variables.scss";

.thirdSectionWrapperr {
  margin-top: 7rem;
  z-index: 1;
  position: relative;
  .imageContainer {
    cursor: pointer;
    height: 85vh;
    background: url("../../../images/superhero.png") center no-repeat;
    background-size: contain;
    width: 100%;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba($color: #000000, $alpha: 0.6);
      transition: background-color 0.3s linear;
      @media screen and (max-width: 768px) {
        background-color: rgba($color: #000000, $alpha: 0.75);
      }
    }
    &:hover:before {
      background-color: rgba($color: #000000, $alpha: 0.9);
    }
    .textContainer {
      padding: 0 4rem;
      height: 100%;
      position: relative;
      color: #fff;
      z-index: 2;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      @media screen and (max-width: 768px) {
        padding: 0 1.5rem;
      }
      .textHeading {
        font-size: 2rem;
        .credit {
          margin-left: 1rem;
          font-size: 1.2rem;
        }
      }
    }
  }
}
