@import "../../styles/mixins.module";
.navbar {
  .nav_brand {
    width: fit-content;
    margin-top: 0.4rem;
    color: $clr_4;
    font-family: "Lobster", cursive;
    font-size: 2rem;
    position: relative;
    transition: all 0.7s;
    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2.5px;
      background-color: $clr_4;
      transition: all 0.7s;
    }
    &::after {
      content: "CRAZY-DEVELOPER";
      white-space: nowrap;
      margin-top: 0.4rem;
      border-bottom: 2px solid $clr_4;
      font-size: 1.5rem;
      font-weight: bolder;
      font-family: "Luxurious Roman", cursive;
      position: absolute;
      top: 0;
      left: -65%;
      width: fit-content;
      height: 100%;
      background-color: #4e696a;
      opacity: 0;
      transition: all 0.7s;
    }
    &:hover {
      font-size: 1.6rem;
      color: transparent;
      &::before {
        bottom: 12px;
      }
      &::after {
        opacity: 1;
        color: $clr_4;
      }
    }
  }

  ul {
    margin-top: 0.8rem;
    max-width: 30rem;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    li {
      color: $clr_1;
      font-size: 1rem;
      font-weight: 600;
      margin-right: 1.5rem;
    }
  }
  .nav_contact_btn {
    margin-top: 0.7rem;
    padding: 0.4rem 1.3rem;
    border-radius: 0.4rem;
    outline: none;
    border: none;
    white-space: nowrap;
    color: $clr_5;
    font-weight: 600;
    background: linear-gradient(to right, rgb(255, 187, 60) 10%, orange 70%);
    transition: 1s ease-in-out;

    &:hover {
      transition: 1s ease-in-out;
      background: linear-gradient(to right, orange 30%, orange 90%);
    }
  }
}

// -----------laptop-------------

@media (max-width: 992px) {
  .navbar {
    ul {
      width: 20rem;
    }
  }
}
// -----------laptop-------------

@media (max-width: 576px) {
  .navbar {
    .nav_brand {
      font-size: 1.4rem;
      &::after {
        content: "CRAZY-DEVELOPER";
        white-space: nowrap;
        margin-top: 0.4rem;
        font-size: 1rem;
        font-weight: bolder;
        font-family: "Luxurious Roman", cursive;
        position: absolute;
        top: 0;
        left: -50%;
        width: fit-content;
        height: 100%;
        background-color: #4e696a;
        opacity: 0;
        transition: all 0.7s;
      }
      &:hover {
        font-size: 1.5rem;
        color: transparent;
        &::before {
          bottom: 5px;
          height: 1.5px;
        }
        &::after {
          opacity: 1;
          color: $clr_4;
        }
      }
    }
    ul {
      width: 15rem;
    }
  }
}
