$clr_1: #0e1c36;
$clr_2: #afcbff;
$clr_3: #d7f9ff;
$clr_4: #ffede1;
$clr_5: #f9fbf2;
$clr_6: rgb(237, 249, 254);

$font_1: "Poppins", sans-serif;
$font_2: "Teko", sans-serif;
$font_3: "Open Sans", sans-serif;
