@import "../../styles/variables.scss";

.educationWrapper {
  .colloegInfoContainer {
    min-height: 50vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    @media screen and (max-width: 768px) {
      grid-template-columns: 1fr;
      grid-template-rows: 70vh;
    }
    .imgContainer {
      position: relative;
    }
    .collegeText {
      display: flex;
      align-items: center;
      .clgName {
        font-size: 1.5rem;
        text-align: center;
      }
    }
  }
}
