@import "../../styles/variables.scss";

.mainContainer {
  padding: 2rem 4rem;
  @media screen and (max-width: 768px) {
    padding: 2rem 1rem;
  }
}
.footer {
  margin: 1rem;
  text-align: center;
  font-size: 1.2rem;
  color: rgba($color: $clr_1, $alpha: 0.8);
}
.nav_container {
  .desktopView {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    height: 3.5rem;
    margin: 1rem 0;
    @media screen and (max-width: 768px) {
      display: none;
    }
    a {
      width: 7rem;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $clr_1;
      font-size: 1.125rem;
      font-weight: 400;
      letter-spacing: -0.3;
      border-radius: 10px;
      &:last-child {
        width: 8.5rem;
      }
      &:hover {
        background-color: $clr_2;
      }
    }
    .active {
      background-color: $clr_2;
      text-decoration: underline 1.5px solid $clr_1;
      text-underline-offset: 0.4rem;
      transition: all 0.1s linear;
      &:hover {
        text-underline-offset: 0.5rem;
      }
    }
  }
  .mobileView {
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media screen and (min-width: 769px) {
      display: none;
    }
    .javascriptImg {
      margin: 1rem 0 0 1rem;
    }
    .hamIcon {
      padding: 1rem;
      cursor: pointer;
    }
  }
}

.mobile_nav_wrapper {
  width: 70vw;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9999999999999999;
  background-color: #001524;
  animation: myTransition 0.5s;

  .closeHamIcon {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 1rem;
    cursor: pointer;
    img {
      filter: brightness(0) invert(100%);
    }
  }
  .mobileNavListContainer {
    list-style: none;
    padding: 0 0.5rem;
    li {
      padding: 0 1rem;
      height: 3rem;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      font-size: 1.25rem;
      border-radius: 10px;
      a {
        color: #ffecd1;
        width: 100%;
      }
    }
    .active {
      background-color: $clr_2;
      text-decoration: underline 1.5px solid $clr_1;
      text-underline-offset: 0.4rem;
      transition: all 0.1s linear;
      a {
        color: #001524;
      }
      &:hover {
        text-underline-offset: 0.5rem;
      }
    }
  }
}

@keyframes myTransition {
  from {
    right: -100%;
  }
  to {
    right: 0;
  }
}
