@import "../../styles/variables.scss";

.nav_container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  height: 3.5rem;
  margin: 1rem 0;
  a {
    width: 7rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $clr_1;
    font-size: 1.125rem;
    font-weight: 400;
    letter-spacing: -0.3;

    &:last-child {
      width: 8.5rem;
    }
    &:hover {
      background-color: $clr_2;
    }
  }
  .active {
    background-color: $clr_2;
    text-decoration: underline 1.5px solid $clr_1;
    text-underline-offset: 0.4rem;
    transition: all 0.1s linear;
    &:hover {
      text-underline-offset: 0.5rem;
    }
  }
}
